numpy>=1.22.0
torch>=1.8.1
torchvision>=0.9.1
opencv-python>=4.6.0
pandas>=1.5.0
Pillow>=9.1.0
scikit-learn>=1.0.2
matplotlib>=3.6.0
seaborn>=0.12.0
scipy>=1.9.0
tqdm>=4.64.0
timm>=0.3.2
openpyxl>=3.0.0
xlrd>=2.0.0
thop>=0.1.1
